/* Responsiveness for a Mobile Screen */
@media screen and (max-width: 600px) {

    p, ul, strong {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 28px;
        text-align: center;
    }

    .logo-header {
        width: 40%;
    }
    
    .menus {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
    }

    .hamburger {
        display: block;
        width: 20%;
    }

    .top-section
{
    flex-direction: column;
    text-align: center;
}

.bio {
    width: 95%;
}

.bio strong {
    font-size: 24px;
}

.bio h1 {
    font-size: 32px;
    margin: 1% 0;
}

.bio a button {
    width: 95%;
}

.web-img {
    width: 95%;
}

.middle-section {
    flex-direction: column-reverse;
}

.about {
    width: 95%;
}

.about-img {
    width: 95%;
}

.bottom-section {
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 4% 2%;
    background: #F9FBFF;
}

.projects {
    width: 95%;
    position: unset;
    left: none;
    top: none;
    padding: unset;
}

.project-image {
    /* width: 95%; */
    display: none;
}

footer {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 40%;
}

.icons {
    width: 45%;
}

.social-media-handle {
    width: 100%;
}

.social-media-handle p {
    text-align: center;
    font-size: 20px;
}
}

/* Hamburger Menu Responsive Clicks */
.hamburger-menu.visible {
    display: flex;
}

.close-menu {
    width: 20%;
}

.close-menu.visible {
    display: block;
}


/* Responsiveness for Smaller Desktop Screen & Tablet Screen */
@media screen and (max-width: 1200px) and (min-width: 601px) {
    .logo-header {
        width: 30%;
    }
    
    nav {
        width: 45%;
    }

    .bottom-section {
        justify-content: space-between;
        align-items: center;
        padding: 3% 2%;
    }

    p, ul {
        text-align: start;
    }

    .projects {
        position: unset;
        width: 55%;
        padding: 0;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
        text-align: center;
    }

    .project-image {
        width: 40%;
    }

    footer {
        justify-content: center;
    }
/* 
    .logo-footer {
       width: 25%;
    } */

    .icons {
        width: 30%;
    }

    .social-media-handle {
        width: 45%;
    }

    .social-media-handle p {
       text-align: center;
       font-size: 18px;
    }
}