@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

body {
    width: 100%;
    background: #FFFFFF;;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 1% 3%;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    margin-bottom: 1.5%;
}

.logo-header {
    width: 20%;
}

nav {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    width: 35%;
    /* gap: 97px; */
    /* width: 415px;
    height: 44px; */
    
}

nav a {
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 24px;
    color: #041330;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.3s;
}

nav a:hover {
    color: #155EEF;
}

nav a button {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #155EEF;
    background-color: #FFFFFF;
    padding: 10px 16px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    cursor: pointer;
    transition: ease 0.3s;
}

nav a button:hover {
    background-color: #155EEF;
    color: #FFFFFF;
}

.top-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 2%;
    background: #F9FBFF;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.bio {
    width: 55%;
}

.bio strong {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #2E3A53;
}

.bio h1 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 56px;
    color: #155EEF;
}

.bio p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #2E3A53;
    }

.bio a button {
    background-color: #155EEF;
    border-radius: 8px;
    padding: 10px 16px;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;

    letter-spacing: 0.5px;

    color: #FFFFFF;
    margin: 32px 0;
    cursor: pointer;
    transition: ease 0.3s;
}

.bio a button:hover {
    background-color: #0f48b9;
}

.web-img {
   width: 40%;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    margin: 4% 0;
}

.about-img {
    width: 40%;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #155EEF;
    padding: 7px;
    vertical-align: middle;
}

.bottom-section .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.bottom-section h2 {
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 40px;
    color: #041330;
}

.bottom-section p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #2E3A53;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.logo-footer {
    width: 20%;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

/* .p-footer {
    width: 30%;
} */

.p-footer p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #041330;
}

/* Screen Responsiveness */